In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#April 2019 data

wk1 = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_190406.txt'
wk2 = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_190413.txt'
wk3 = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_190420.txt'
wk4 = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_190427.txt'

df1 = pd.read_csv(wk1)
df2 = pd.read_csv(wk2)
df3 = pd.read_csv(wk3)
df4 = pd.read_csv(wk4)

df = pd.concat([df1,df2,df3,df4])

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 814079 entries, 0 to 203856
Data columns (total 11 columns):
 #   Column                                                                Non-Null Count   Dtype
---  ------                                                                --------------   -----
 0   C/A                                                                   814079 non-null  object
 1   UNIT                                                                  814079 non-null  object
 2   SCP                                                                   814079 non-null  object
 3   STATION                                                               814079 non-null  object
 4   LINENAME                                                              814079 non-null  object
 5   DIVISION                                                              814079 non-null  object
 6   DATE                                                                  814079 non-null  object
 7   TIME                                                                  814079 non-null  object
 8   DESC                                                                  814079 non-null  object
 9   ENTRIES                                                               814079 non-null  int64
 10  EXITS                                                                 814079 non-null  int64
dtypes: int64(2), object(9)
memory usage: 74.5+ MB

In [42]:
df.rename(columns = {'EXITS                                                               ':'EXITS'}, inplace = True)

In [41]:
df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [4]:
df.TIME.unique()

array(['00:00:00', '04:00:00', '08:00:00', ..., '09:24:14', '08:10:13',
       '10:03:24'], dtype=object)

In [44]:
#confirm that data is recorded every 4 hours for every date within the data set

std_df = df[(df['TIME'] == '00:00:00') | (df['TIME'] == '04:00:00')  | (df['TIME'] == '08:00:00') | 
    (df['TIME'] == '12:00:00') | (df['TIME'] == '16:00:00') | (df['TIME'] == '20:00:00')]

date_arr = std_df['DATE'].unique()

date_arr

array(['03/30/2019', '03/31/2019', '04/01/2019', '04/02/2019',
       '04/03/2019', '04/04/2019', '04/05/2019', '04/06/2019',
       '04/07/2019', '04/08/2019', '04/09/2019', '04/10/2019',
       '04/11/2019', '04/12/2019', '04/13/2019', '04/14/2019',
       '04/15/2019', '04/16/2019', '04/17/2019', '04/18/2019',
       '04/19/2019', '04/20/2019', '04/21/2019', '04/22/2019',
       '04/23/2019', '04/24/2019', '04/25/2019', '04/26/2019'],
      dtype=object)

In [16]:
std_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 414360 entries, 0 to 203135
Data columns (total 11 columns):
 #   Column                                                                Non-Null Count   Dtype
---  ------                                                                --------------   -----
 0   C/A                                                                   414360 non-null  object
 1   UNIT                                                                  414360 non-null  object
 2   SCP                                                                   414360 non-null  object
 3   STATION                                                               414360 non-null  object
 4   LINENAME                                                              414360 non-null  object
 5   DIVISION                                                              414360 non-null  object
 6   DATE                                                                  414360 non-null  object
 7   TIME                                                                  414360 non-null  object
 8   DESC                                                                  414360 non-null  object
 9   ENTRIES                                                               414360 non-null  int64
 10  EXITS                                                                 414360 non-null  int64
dtypes: int64(2), object(9)
memory usage: 37.9+ MB

In [45]:
#additional entries/exits made in the preceding 4 hours
times_arr = std_df['TIME'].unique()

#use apply or map??
#https://stackoverflow.com/questions/37872565/reversed-cumulative-sum-of-a-column-in-pandas-dataframe

std_df['ENTRIES'].diff()
std_df['EXITS'].diff()

0          NaN
1          8.0
2         46.0
3         88.0
4         71.0
          ...
203131     0.0
203132     0.0
203133     0.0
203134     0.0
203135     0.0
Name: EXITS, Length: 414360, dtype: float64